.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  margin-right: 20px;
  width: 32px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(12, 14, 14);
}

.favorite-edit {
  background-color: #43cb44;
}
.all-alone {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rate {
  background-color: #f6d365 !important;
}

.favorite-delete {
  background: #ff6666;
  position: relative;
}

.fridge {
  position: absolute;
  right: 15px;
  top: 5px;
  background: #ff6666;
  margin-right: 0;
}

.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;

  transition: all 0.15s 0s ease-out;
  width: 12px;
}

.left-card {
  transform: rotate(45deg);
  right: 10px;
}

.right-card {
  left: 10px;
  transform: rotate(-45deg);
}

.toggle-info:hover {
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075) !important;
  transform: translateY(-3px);
  transition: all 0.25s 0s ease-out;
}
