.nutrition-checkbox {
  position: absolute;
  width: 18px;
  left: 1px;
  top: 8px;
  height: 1.805rem;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  line-height: 1.2;
  position: relative;
  vertical-align: top;
  padding-left: 2em;
}

.checkbox-label span {
  line-height: 1.2;
}

.tickmark {
  top: 0.7em;
  border-radius: 100%;
  display: block;
  position: absolute;
  background-color: #f5f9fc;
  border: 1px solid #85b4dd;
  content: " ";
  height: 1.4em;
  left: 0;
  width: 1.4em;
}

.tickmark-clicked {
  background-color: #c1d9ee;
}

.tick-me {
  color: #5358c8;
  margin-left: 3px;
  margin-top: 2px;
}
