.password-settings-container {
  background: rgba(10, 10, 10, 0.75);
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 110;
  right: 0;
  top: 0;
}

.password-change-modal {
  padding: 1rem;
  background: #fff;
  margin-top: 6.25rem;
  width: 30.25rem;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(0%);
  opacity: 1;
  position: relative;
}

.password-modal-header {
  display: flex;
}

.overlay-header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 2rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.75rem;
}

.close-button {
  font-size: 1.45rem;
  position: absolute;
  right: 1rem;
  top: 0.625rem;
  z-index: 110;
  color: #333;
  transform: rotate(45deg);
  font-weight: bolder;
  border: none;
  background: none;
  cursor: pointer;
}

.password-change-content {
  height: 100%;
}

.password-form-header {
  font-size: 1.125rem !important;
  margin-bottom: 1rem !important;
  line-height: 1.5;
}

.password-form-header strong {
  font-weight: bolder;
}

.change-password-button {
  text-align: center;
}
