.account-settings-input {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  padding-top: 0.5rem !important;
}

.input-row {
  display: flex;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  max-width: 100%;
}

.input-column {
  padding-right: 0.2rem;
  padding-left: 0.5rem;
}
