.main-button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.main-button:hover {
  background: #34373d;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #15181d;
  text-transform: uppercase;
}

.rating-stars {
  margin-top: 20px;
}

.recipe-edit {
  width: 320px;
  height: 50px;
}

.admin-custom {
  margin: 20px auto;
}
