.cookbook-search-results {
  position: relative;
  z-index: 100;
  transition: all 800ms ease;
  font-size: 1em;
}

.search-tools-meta {
  max-width: 1008px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 1;
}

.filter-sort-organization {
  display: flex;
  flex-direction: row;
  padding: 2px 0 12px;
  border-bottom: 2px solid #e3e3e3;
  width: 100%;
}

.toggle-filters {
  cursor: pointer;
  color: #232323;
  transition: color 400ms ease;
  font-size: 14px;
  display: flex;
  transform: translateY(4px);
}

.toggle-filters i {
  color: #bababa;
  transform: scale(1.25);
  transition: all 800ms ease;
}

.filter-sliders {
  height: 0;
  line-height: 0.6;
  margin-right: 8px;
  transform: scale(1.25);
  transition: all 400ms ease;
  color: #bababa;
  margin-top: 2px;
}

.filter-sliders::before {
  content: attr(data-icon);
  text-transform: none;
}

.filters-title {
  cursor: pointer;
  color: #232323;
  font-weight: bolder;
  font-size: 18px;
  margin-left: 6px;
}

.guided-search-breadcrumbs {
  margin-left: 1rem;
  cursor: pointer;
  color: #232323;
  transition: color 400ms ease;
  font-size: 14px;
  display: flex;
  transform: translateY(4px);
}

.reset {
  color: #3a9691;
  transition: color 400ms ease;
  position: relative;
  padding-left: 1rem;
  margin-left: -1px;
  font-weight: bolder;
  font-size: 18px;
}

.reset::before {
  content: "";
  display: block;
  width: 2px;
  height: 18px;
  position: absolute;
  right: 100%;
  bottom: auto;
  left: auto;
  background: #e3e3e3;
}
