.user-card-container {
  margin-top: 2rem !important;
  margin-left: 14rem;
  margin-right: 14rem;
}

.user-card-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}
