.ingredients-row {
  display: flex;
  justify-content: space-between;
}

.ingredient-suggest-wrapper {
  border-radius: 28px;
  flex-basis: 320px;
  background: none;
}

.ingredient-suggest-wrapper:first-child {
  margin-right: 60px;
}

.suggest-form {
  position: relative;
  width: 100%;
}

.ingredient-suggest-container {
  width: 100%;
  display: inline-block;
}

.ingredient-suggest-input {
  border-radius: 28px;
  background: #f5f5f5;
  border: none;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.05) inset;
  width: 100%;
  padding: 10px 0 10px 45px;
  font-size: 18px;
  line-height: 1.666666666666667;
}

.ingredient-suggest-input::placeholder {
  color: #928d8d;
}

.mama {
  top: 16px;
  height: 28px;
  width: 17px;
  font-size: 18px;
}

.filter-group {
  padding: 12px 0;
  max-height: none;
  width: 100%;
}

.filter-wrapper {
  max-width: 80%;
  margin: 0 20px;
}

.filter-item {
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.filter-item-title {
  position: relative;
  color: #707070;
  line-height: 2;
  transition: color 400ms;
  font-size: 16px;
  line-height: 2;
}

.filter-item-title:hover {
  color: #3a9691;
}

.allergy-clicked {
  color: #3a9691;
}

.allergies {
  column-count: 4;
}

.nutrition {
  column-count: 3;
}

.filter-item-desc {
  color: #bababa;
  margin: 0;
}

.cooktime-cost-title {
  color: #707070;
  line-height: 3;
}

.time-cost-options {
  width: 750px;
}
