.main-container {
  overflow-y: scroll;
  position: relative;

  top: 3rem;
}

.main-wrap {
  max-width: 54rem;
  margin-bottom: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.main-header-title {
  float: left;
  font-size: 3.1rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  position: relative;
  text-align: left;
  letter-spacing: 0.05em;
  margin: 1.8rem 0 1.8rem;
  font-weight: 100;
}

.logo-image {
  bottom: 5%;
  left: 100%;
  height: 75%;
  margin-left: 0;
  position: absolute;
  width: auto;
}

.non-block {
  clear: left;
  padding-bottom: 3.6rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.basic-info-block {
  background-color: #fff;
  border: 1px solid #efe6de;
  border-radius: 5px;
  margin-bottom: 4.5rem;
  position: relative;
  padding: 1.8rem;
}

.basic-info-block h3 {
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  position: relative;
  width: 100%;
  margin-bottom: 2.7rem;
  text-align: center;
  font-weight: bold;
}

.edit-form-group {
  position: relative;
  padding-top: 0.95rem;
  margin-top: 0.25rem;
  margin-bottom: 0.76rem;
}
.basic-info-block .basic-instructions {
  color: #888;
  margin-top: -1.8rem;
  margin-bottom: 2.7rem;
  position: relative;
  text-align: center;
}
