.sign-in {
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #737373;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

.sign-out {
  font-family: inherit;
  background-color: #1f190c;
  color: #fff;
}

.admin {
  background: #1f190c;
}

.sign-in:hover {
  background-color: #4d4c4a;
  color: #fff;
}

.save {
  background-color: #13100a;
}
