.main-header {
  height: 3vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 4%;
  background-color: #2d545e;
  text-transform: uppercase;
  color: #fff;
  z-index: 100;
}

.logo {
  text-transform: none;
  cursor: pointer;
  width: 50px;
  margin-right: auto;
  color: #fff;
}
