.ingredients-row {
  display: flex;
  justify-content: space-between;
}

.ingredient-suggest-wrapper {
  border-radius: 28px;
  flex-basis: 320px;
  background: none;
}

.ingredient-suggest-wrapper:first-child {
  margin-right: 60px;
}

.suggest-form {
  position: relative;
  width: 100%;
}

.ingredient-suggest-container {
  width: 100%;
  display: inline-block;
}

.ingredient-suggest-input {
  border-radius: 28px;
  border: none;
  color: #737373;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;
  width: 100%;
  padding: 10px 0 10px 45px;
  font-size: 18px;
  line-height: 1.666666666666667;
}

.ingredient-suggest-input::placeholder {
  color: #737373;
}
