.custom-label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
.custom-label span {
  font-size: 12px;
  color: #464444;
  text-transform: uppercase;
}
.custom-input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.custom-input::placeholder {
  color: rgb(172, 163, 163);
}

.no-children {
  width: 15%;
  margin-left: 25px;
}

.ingro-children {
  width: 50%;
}
