div.cards {
  position: relative;
  margin: 80px auto;
  max-width: 1200px;
  text-align: center;
}

.fridge-title {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 28px;
  margin-bottom: 50px;
  color: #12343b;
}
