.chosen-ingredient-exclusions {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.delete-ingredient-suggested i {
  border-radius: 20%;
  margin-right: 0.4em;
  cursor: pointer;
  color: #fff;
}
.delete-ingredient-suggested i:hover {
  color: #cd5c5c;
}

.pill {
  margin-left: 0;
  margin-bottom: 0.6em;
  background-color: rgb(101, 157, 189);
  border-radius: 5rem;
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1;
  margin-right: 0.6em;
  padding: 0.32em 0.6em 0.23em 0.3em;
  white-space: nowrap;
}

.delete-ingredient-suggested {
  color: #fff;
  margin-right: 0.4em;
  text-decoration: none;
}
