.search-section {
  font-size: 12px;
  margin: 24px 0 28px;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  text-align: left;
}

.spyglass {
  cursor: pointer;
  position: absolute;
  top: 34px;
  right: auto;
  bottom: auto;
  left: 20px;
  color: #fff;
  font-size: 20px;
}

.spyglass::before {
  content: attr(data-icon);
  text-transform: none;
}

.searchbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.searchbox-input {
  width: 600px;
  border-radius: 39px;
  background-color: #12343b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;
  font-size: 1.5em;
  height: 55px;
  border: 0;
  padding: 0 1em 0 3em;
  outline: none;
  margin: 1em 0;
  color: #fff;
}

.searchbox-input::placeholder {
  color: #8eb9c3;
}
