.filter-item {
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.filter-item-title {
  position: relative;
  color: #737373;
  line-height: 2;
  transition: color 400ms;
  font-size: 16px;
  line-height: 2;
}

.filter-item-title:hover {
  color: #2d545e;
}

.allergy-clicked {
  color: #2d545e;
}
.filter-item-desc {
  color: #79756f;
  margin: 0;
}
