.filter-item {
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.filter-item-title {
  position: relative;
  color: #707070;
  line-height: 2;
  transition: color 400ms;
  font-size: 16px;
  line-height: 2;
}

.filter-item-title:hover {
  color: #659dbd;
}

.allergy-clicked {
  color: #659dbd;
}
.filter-item-desc {
  color: #bababa;
  margin: 0;
}
