.sign-in {
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #c89666;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

.sign-out {
  font-family: inherit;
  background-color: #fff;
  color: #55565a;
}

.sign-in:hover {
  background-color: #886c52;
  color: #fff;
}

.save {
  background-color: #c89666;
}
