.recipe-content {
  position: relative;
  width: 88%;
  padding: 15px;
  margin: 30px auto;
  text-align: center;
}

.main-flex-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recipe-content-title {
  margin-left: 23px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.333333333333333;
  font-weight: 700;
  text-align: left;
}
