.recipe-content {
  width: 88%;
  padding: 15px;
  margin: 30px auto;
  text-align: center;
}

.recipe-content-title {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.333333333333333;
  font-weight: 700;
  text-align: center;
}
