.recipe-content {
  width: 100%;
  padding: 15px;
  margin: 60px auto;
  text-align: center;
}

.recipe-content-title {
  max-width: 940px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.333333333333333;
  font-weight: 700;
  text-align: left;
}

.recipe-content-title span {
  margin-left: 90px;
}
