.filters-wrapper {
  width: 100%;
  margin: 0;
  padding: 0 10px;
}
.filters-everything {
  width: 100%;
  position: relative;
  font-size: 12px;
  line-height: 1;
}

.filter-categories {
  display: block;
  padding-bottom: 5px;
}

.categories-list {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}
