.filters-wrapper {
  width: 100%;
  margin: 0;
  padding: 0 10px;
}
.filters-everything {
  width: 100%;
  position: relative;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.filter-categories {
  display: block;
  padding-bottom: 5px;
}

.categories-list {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}

.filter-category {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 25px 0 0;
  padding-right: 38px;
}

.filter-category.active {
  color: #3a9691;
}

.filter-category .filter-title {
  font-size: 12px;
  margin: 0.25rem 0;
  line-height: 1.714285714285714;
}

.filter-category.active .filter-title::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 6px;
  background: #3a9691;
  transition: all 400ms ease;
  transform-origin: left center;
}

.filter-group {
  padding: 24px 0;
  min-height: 250px;
  max-height: none;
  width: 100%;
}

.filter-wrapper {
  max-width: 80%;
  margin: 0 20px;
}

.ingredients-row {
  display: flex;
  justify-content: space-between;
}

.ingredient-suggest-wrapper {
  border-radius: 28px;
  flex-basis: 320px;
  background: none;
}

.ingredient-suggest-wrapper:first-child {
  margin-right: 100px;
}

.suggest-form {
  position: relative;
  width: 100%;
}

.ingredient-suggest-container {
  width: 100%;
  display: inline-block;
}

.ingredient-suggest-input {
  border-radius: 28px;
  background: #f5f5f5;
  border: none;

  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.05) inset;
  width: 100%;
  padding: 10px 0 10px 40px;
  font-size: 18px;
  line-height: 1.666666666666667;
}

.mama {
  top: 14px;
  height: 28px;
  width: 17px;
  font-size: 18px;
}
