* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  /* font-family: europa-boldregular, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background: #fff;
}
