.strong {
  font-weight: 900;
  line-height: inherit;
}

.action-button {
  border: 0;
  font-size: 14px;
  background: none;
  color: #fff;
  text-decoration: underline;
  outline: 0;
  cursor: pointer;
}

.delete {
  color: #b87c7c;
}
