.main-button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.main-button:hover {
  background: #c27a15;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #c58e40;
  text-transform: uppercase;
}

.rating-stars {
  margin-top: 20px;
}

.recipe-edit {
  background-color: #2d545e;
  width: 320px;
  height: 50px;
}

.recipe-edit:hover {
  background-color: #12343b;
}
